.shortener--copybutton {
  position: relative;
  display: inline-block;
}

.shortener--copybutton .shortener-tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.9em;
}

.shortener--copybutton .shortener-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.shortener--copybutton:hover .shortener-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.shortener--wapper .hide {
  display: none !important;
}
