{#
/**
 * @file
 * bitly_shortener Block.
 */
#}
{% if bitly_shortener %}
	<div class="shortener--wapper">
		<input class="text-content hide" type="text" value="{{ bitly_shortener }}" id="shortener-link" readonly>
		<div class="shortener--copybutton">
			<button class="button button--primary" onclick="bitlyShortenerFunction()" onmouseout="bitlyShortenerOutFunc()">
				<span class="shortener-tooltip-text" id="shortener-tooltip-text">Copy to clipboard</span>
				Shortener Url
			</button>
		</div>
	</div>
{% endif %}